<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034780535242-d7uk0h48ko0vf8b51dafoi4u2hf2kfqf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034780535242-d7uk0h48ko0vf8b51dafoi4u2hf2kfqf</string>
	<key>API_KEY</key>
	<string>AIzaSyCXe46UOIMy-RumNPcI-MAsn7D0c14fgfM</string>
	<key>GCM_SENDER_ID</key>
	<string>1034780535242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramCloneCourse</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-course-naji</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-course-naji.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034780535242:ios:276f68b87defe418d9c733</string>
</dict>
</plist>